[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2025.8.3"
cffi = "==2.0.0"
cryptography = "==45.0.7"
meson = "==1.7.2"
pycparser = "==2.23"
fastapi = "==0.114.0"
uvicorn = "==0.30.6"
requests = "==2.32.3"
pydantic = "==2.8.2"
pytest = "==8.3.2"

[dev-packages]

[requires]
python_version = "3.13"
